<div class='row'>
  <div class='col-xs-9'>
    <button type="button" class="btn btn-success btn-xs" role='toggle-form'>New theme</button>

    <form role='form' class='hidden'>
      <div class="form-group">
        <label>Theme title</label>
        <input type="text" class="form-control" name='title' placeholder="Are you obsessed with your job?" required>
      </div>

      <div class="form-group">
        <label>Theme description</label>
        <textarea type="text" class="form-control" name='description' placeholder="Does you’ve been working for 20-hours for a day?"  ></textarea>
      </div>

      <button class="btn btn-success" role='submit-form'>Submit</button>
    </form>
  </div>
</div>