<h4>Reply here</h4>
<form role='form'>
  <div class="row">
    <div class="form-group col-xs-6">
      <label>Your name</label>
      <input type="text" class="form-control" name='username' placeholder="jean claude van damme" required>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <label>Message</label>
      <textarea class="form-control" name='body' placeholder="I now truly believe it is impossible for me to make a bad movie." rows="5" required></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Reply</button>
</form>